<div class="container tablaTareas">
    <table class="table table-warning table-striped">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre</th>
                <th scope="col">Prioridad</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tareas of tareaService.listaTarea">
                <th scope="row">{{tareas.id_tarea}}</th>
                <td>{{tareas.fecha}}</td>
                <td>{{tareas.nombre}}</td>
                <td>{{tareas.id_prioridad}}</td>
                
                <button class="btn btn-danger">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </tr>
        </tbody>
    </table>
</div> 